body{
    background-color: #E4E4E4;
}
form{
    background: white;
    width: 1000px;
    height: 550px;
    transform: translateX(13%) translateY(10%);
    box-shadow: 5px 6px 7px 8px rgb(155, 155, 155);
}
form .img1{
    width: 550px;
    height: 550px;
}
form .img2{
    width: 300px;
    transform: translateX(23%) translateY(-220%);
}
form input[type="text"]{
    transform: translateX(200%) translateY(-1400%);
    font: bold 15pt Calibri;
    outline: none;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:solid 2px red;
    width: 30%;
}
form input[type="password"]{
    transform: translateX(98.5%) translateY(-1100%);
    font: bold 15pt Calibri;
    outline: none;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:solid 2px red;
    width: 30%;
}
form input[type="button"]{
    transform: translateX(10%) translateY(-450%);
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 3px 6px black;
    font: bold 15pr Calibri;
    color: white;
    background: #065AFF;
    cursor: pointer;
}
form input[type="button"]:hover{
    background: #0648ce;
    transition: ease-in 0.5s;
}
form div a{
    position: relative;
    display: flex;
    width: 100px;
    transform: translateX(730%) translateY(-700%);
    font: bold 12pt Calibri;
    color: #433F3C;
}